* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}

.page-action-cont { 
    height: 3rem;
    background-color: #006266;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
}
.page-action {
    margin: 0.5rem;
    color: #ffffff;
}

.cellprops-action-cont {
    height: 3rem;
    background-color: #dff9fb;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.cellprops-action-cont>* {
    display: inline-block;
    margin: 0.5rem;
    margin-right: 1rem;
}
.cellprops-action-cont>select {
    border: none;
    border-radius: 2px;
    outline: none;
}

.font-family-prop {
    padding: 0.2rem;
    cursor: pointer;
}
.font-size-prop {
    padding: 0.2rem;
    cursor: pointer;
}

.formula-action-cont {
    height: 2rem;
    background-color: #dff9fb;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}
.formula-action-cont > * {
    display: inline-block;
}
.formula-action-cont > input {
    border: none;
    outline: none;
    height: 70%;
}
.address-bar {
    width: 5rem;
    text-align: center;
}
.formula-icon {
    width: 1.2rem;
    margin-left: 1rem;
}
.formula-bar {
    width: 90%;
    margin-left: 1rem;
}

.sheet-action-cont {
    height: 3rem;
    background-color:#ced6e0;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 1rem;
}
.sheet-action-cont >* {
    display: inline-block;
}
.sheets-folder-cont {
    display: flex;
    align-items: center;
    height: 80%;
    width: 5rem;
    width: calc(100vw - 2vw);
}
.sheet-add-icon {
    width: 2vw;
}
.sheet-folder {
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    font-size: 0.9rem;
}

.grid-cont {
    height: calc(100vh - 3rem - 3rem - 2rem - 3rem);
    position: relative;
    overflow: scroll;
    background-color:#f1f2f6;
}
.top-left-dummy-box {
    height: 2rem;
    width: 2rem;
    background-color:#a5b1c2;
    position: fixed;
    z-index: 2;
}
.address-col-cont {
    position: sticky;
    top: 2rem;
    left: 0;
}
.address-col {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe4ea;
}
.address-row {
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe4ea;
}
.address-row-cont {
    display: flex;
    position: sticky;
    top: 0;
    left: 2rem;
}
.cells-cont {
    position: absolute;
    top: 0;
    left: 2rem;
}
.row-cont {
    display: flex;
}
.cell {
    height: 2rem;
    width: 6rem;
    border: 1px solid #dfe4ea;
    outline: none;
}